
<style>
  #shawn_footer{
    width:900px;
    height:80px;
    background-color:whitesmoke
  }
</style>

<footer id="shawn_footer">
  <span style="display:inline-block;text-indent:10px;line-height:80px;font-weight:bold">Members : Del | Merlin | Shawn | Rain</span>
</footer>