<style>
  #shawn_header{
    position: relative;
    width:900px;
    height:80px;
    margin-bottom:10px;
    background-color:#efefef;
  }
  #shawn_header .shawn_header_cont{
    overflow:hidden
  }
  #shawn_header .wrap_thumb{
    float:left
  }
  #shawn_header .wrap_login{
    float:right;
    padding-top:50px;
    text-align:center;
  }
  #shawn_header .wrap_login input{
    height:20px;
  }

  #shawn_header .submit_login{
    width:100px;
  }

  #shawn_header .img_logo{
    position: absolute;
    width:80px;
    height:80px;
    top:0;
    left:10px;
    text-align:center;
    line-height:80px;
    background-color:#c2c2c2;
    color:#fff;
    z-index: 100;
  }
</style>

<header id="shawn_header">
  <div class="shawn_header_tit hide">
    <h1 class="tit">shawn's company</h1>
  </div>
  <div class="shawn_header_cont">
    <div class="wrap_thumb">
      <div class="thumb img_logo">LOGO</div>
    </div>
    <div class="wrap_login">
        <!--<input class="ipt_id" name="user_id" type="text">-->
        <!--<input class="ipt_pwd" name="user_pwd" type="text">-->
        <!--<input class="submit_login" type="submit" value="login">-->
    </div>
  </div>
</header>