<!DOCTYPE html>
  <html lang="ko">
    <head>
      {{>head}}
    </head>
    <body>
    <div id="shawn">
      {{>header}}
      {{>nav}}
      <main id="content">
        {{{body}}}
      </main>
      {{>footer}}
    </div>
    </body>
  </html>