<style>
  #home{background-color:#efefef;width:900px}
  #home .coll_cont{overflow:hidden}
  #home .wrap_thumb{float:left;width:35%}
  #home .thumb{margin: auto}
  #home .wrap_articles{float:left;width:35%;padding: 15px 0}
  #home .wrap_info{float:left;width:30%}
  #home .link_article{display:inline-block;margin-bottom:5px}

  #home2{background-color:#efefef;width:900px}
  #home2 .coll_cont{overflow:hidden}
  #home2 .wrap_thumb{float:left;width:35%}
  #home2 .thumb{margin: auto}
  #home2 .wrap_articles{float:left;width:35%;padding: 15px 0}
  #home2 .wrap_info{float:left;width:30%}
  #home2 .link_article{display:inline-block;margin-bottom:5px}
</style>
<!--<div style="width:600px;margin:0 auto 10px">-->
  <!--<object type="text/html" width="600" height="360" data="//www.youtube.com/embed/qYodWEKCuGg?autoplay=1&loop=10"></object>-->
<!--</div>-->

<div id="home">
  <div class="coll_tit">
    <h2 class="txt_tit">Examples of highly effective welcome emails <span class="txt_s">: {{msg}}</span></h2>
  </div>
  <div class="coll_cont">
    <div class="wrap_thumb">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4fwb4yXCQk4aUPIsnlMXAK8KqZoE9drSb9sdGnnFNNxQzqURt" class="thumb">
    </div>
    <div class="wrap_articles">
      <strong>1. Write a welcoming note</strong>
      <p>
        Welcome emails should begin with a warm introduction that reflects your company’s personality.
        The David’s Bridal email above features a great introductory message. It thanks new subscribers for making the
        company part of their wedding day. You can write something straightforward like, “Welcome to our email list,” or
        “Thanks for signing up to get our emails.” Online fashion company ASOS starts their message with a casual “Oh,
        hey girl! Welcome to ASOS. It’s great to meet you!” Or, you can be a little more formal, like David’s Bridal.
        There’s no right or wrong way to welcome new guests; just make sure it’s conversational and fits your company’s
        voice.
      </p>
    </div>
    <div class="wrap_info">
      <a class="link_article">2. Reinforce perks of your email list</a>
      <a class="link_article">3. Offer a deal</a>
      <a class="link_article">4. Create a clear call to action</a>
      <a class="link_article">5. Shine the spotlight on your product or service with eye-catching images</a>
      <a class="link_article">6. Be mobile-friendly</a>
      <a class="link_article">7. Add social media buttons</a>
    </div>
  </div>
</div>

<div id="home2">
  <div class="coll_tit">
    <h2 class="txt_tit">Examples of highly effective welcome emails <span class="txt_s">: {{msg}}</span></h2>
  </div>
  <div class="coll_cont">
    <div class="wrap_thumb">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4fwb4yXCQk4aUPIsnlMXAK8KqZoE9drSb9sdGnnFNNxQzqURt" class="thumb">
    </div>
    <div class="wrap_articles">
      <strong>1. Write a welcoming note</strong>
      <p>
        Welcome emails should begin with a warm introduction that reflects your company’s personality.
        The David’s Bridal email above features a great introductory message. It thanks new subscribers for making the
        company part of their wedding day. You can write something straightforward like, “Welcome to our email list,” or
        “Thanks for signing up to get our emails.” Online fashion company ASOS starts their message with a casual “Oh,
        hey girl! Welcome to ASOS. It’s great to meet you!” Or, you can be a little more formal, like David’s Bridal.
        There’s no right or wrong way to welcome new guests; just make sure it’s conversational and fits your company’s
        voice.
      </p>
    </div>
    <div class="wrap_info">
      <a class="link_article">2. Reinforce perks of your email list</a>
      <a class="link_article">3. Offer a deal</a>
      <a class="link_article">4. Create a clear call to action</a>
      <a class="link_article">5. Shine the spotlight on your product or service with eye-catching images</a>
      <a class="link_article">6. Be mobile-friendly</a>
      <a class="link_article">7. Add social media buttons</a>
    </div>
  </div>
</div>
<script>

</script>


